:host {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  user-select: none;
  filter: blur(40px) saturate(2.2) opacity(0.5);

  canvas {
    height: 100%;
    width: 100%;
  }
}
