@use "@angular/material" as mat;

$primary: mat.define-palette(mat.$orange-palette);
$accent: mat.define-palette(mat.$brown-palette);
$warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

$app-background-color: #282828;
$app-text-color: white;

@mixin mobile {
  @media (max-width: 650px) {
    @content;
  }
}

@mixin frosted-effect-core {
  :root {
    --app-frosted-effect-opacity: 0.88;
    --app-frosted-effect-strength: 60px;
  }

  body[app-frosted-effects] {
    .app-frosted-effect::after,
    .mat-mdc-dialog-surface {
      background-color: rgba(
        $app-background-color,
        calc(var(--app-frosted-effect-opacity))
      );
      backdrop-filter: blur(var(--app-frosted-effect-strength)) saturate(2.1);
    }
  }

  body .app-frosted-effect {
    background-color: transparent;

    &::after {
      content: "";
      background-color: $app-background-color;
      top: 0;
      left: 0;
      width: 100%;
      position: absolute;
      height: 100%;
      z-index: -1;
      border-radius: inherit;
      overflow: hidden;
    }
  }
}
