button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;

  &::after {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2),
      0 8px 40px rgba(0, 0, 0, 0.55);
  }

  mat-icon {
    transition: transform 100ms ease-out;
  }

  &:hover mat-icon {
    transition-duration: 200ms;
    transform: rotate(-60deg);
  }
}
