<mat-form-field
  appearance="outline"
  subscriptSizing="dynamic"
  (click)="input.focus()"
>
  <mat-label>Browse</mat-label>
  <mat-chip-grid #chipGrid>
    <mat-chip-row
      *ngFor="let tag of tagsSvc.selectedTags | async"
      (click)="$event.stopPropagation()"
      (removed)="onTagRemove(tag)"
    >
      {{ tag }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    <input
      #input
      matInput
      [formControl]="query"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="onTagSubmit($event)"
    />
  </mat-chip-grid>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onTagAutocomplete($event)"
  >
    <mat-option *ngFor="let tag of tagsSvc.suggestedTags | async" [value]="tag">
      {{ tag }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
