@import "palette";

.settings {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 300px;
  z-index: 100;
  box-shadow: 1px 0px 20px 4px rgb(0 0 0 / 40%);

  h1 {
    margin-left: -12px;
    display: flex;
    align-items: center;
    gap: 6px;
    position: sticky;
    top: 0;
    padding: 30px 20px 20px;
    z-index: 10;
  }

  form {
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
    padding: 0 20px 40px;
    overflow-y: auto;

    section {
      display: flex;
      flex-flow: column nowrap;
      gap: 20px;

      .section-name {
        margin: 0;
      }

      .options {
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;

        > div {
          display: flex;
          flex-direction: column;
          margin-bottom: -14px;
          gap: 4px;

          .option-name {
            font-size: 14px;
          }

          mat-slider {
            margin-top: -2px;
          }
        }
      }
    }
  }
}

.warning-content {
  .amogus {
    position: absolute;
    margin-left: 8px;
    color: map-get($warn, default);

    > span {
      font-size: 33px;
    }
  }

  .warn {
    color: map-get($warn, default);
  }

  .consents {
    display: flex;
    flex-flow: column nowrap;
  }
}
