<div
  [@settings]="animationState | async"
  (@settings.start)="onAnimationStart($event)"
  (@settings.done)="onAnimationDone($event)"
  class="settings"
  appBackdropBlur
>
  <h1 appBackdropBlur>
    <button
      mat-icon-button
      color="primary"
      (click)="close()"
      matTooltip="Close settings"
      matTooltipPosition="left"
    >
      <mat-icon>close</mat-icon></button
    ><span>Settings</span>
  </h1>
  <form [formGroup]="settingsSvc.form">
    <section>
      <div class="section-name">Search</div>
      <mat-slide-toggle
        color="primary"
        [checked]="safeSearchChecked | async"
        (click)="onSafeSearchClick($event)"
        >Safe search</mat-slide-toggle
      >
    </section>
    <section>
      <div class="section-name">Interface</div>
      <mat-slide-toggle color="primary" formControlName="blurEffect"
        >Overlay backdrop blur</mat-slide-toggle
      >
    </section>
  </form>
</div>

<ng-template #warningTemplate>
  <h1 mat-dialog-title>Warning</h1>
  <div mat-dialog-content>
    <div class="warning-content">
      <p>Are you sure you want to disable safe search?</p>
      <p>
        When safe search is off, you'll see NSFW explicit pictures of
        violence and pornography.
      </p>
      <p>
        Most weebs have some sort of brain tumor and there is a high risk that,
        by disabling safe search, you will develop one as well.
      </p>
      <p class="warn">Proceed at your own risk, you have been warned.</p>
      <div class="consents">
        <mat-checkbox color="warn" #consentCheckbox
          >I am an adult and I understand the risk</mat-checkbox
        >
        <mat-checkbox
          color="warn"
          #disableWarningCheckbox
          [disabled]="!consentCheckbox.checked"
          >Do not warn me again
          <span
            class="amogus"
            *ngIf="consentCheckbox.checked && disableWarningCheckbox.checked"
            (click)="onAmogusClick($event)"
            >sus <span>ඞ</span></span
          ></mat-checkbox
        >
      </div>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button
      mat-button
      [disabled]="!consentCheckbox.checked"
      color="warn"
      [mat-dialog-close]="{
        disableWarning: disableWarningCheckbox.checked
      }"
    >
      Disable safe search
    </button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]
      cdkFocusInitial
    >
      Stay safe
    </button>
  </div>
</ng-template>
