@import "palette";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-bottom: 50px;
  flex: 1;

  > h2 {
    color: #f05555;
  }

  .preview {
    position: relative;
    margin-bottom: 30px;

    .img-glow {
      position: absolute;
      top: 0;
      left: 0;
      filter: blur(40px) saturate(2.2) opacity(0.5);
      user-select: none;
      pointer-events: none;
      z-index: -1;
    }
  }

  img {
    max-width: 100%;
  }

  video {
    width: 100%;
    max-width: 1400px;
  }

  .tags {
    position: relative;
    max-width: 1200px;
    padding: 30px 20px 20px;
    border: 1px solid #545454;
    border-radius: 4px;

    > span {
      position: absolute;
      top: -9px;
      left: 15px;
      font-size: 18px;
      font-weight: bold;
      background-color: $app-background-color;
      padding: 0 10px;
    }
  }

  .info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 14px;
    margin-bottom: 60px;
    z-index: 1;

    > * {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #424242;
      border-radius: 24px;
      min-height: 48px;
    }

    > div {
      gap: 10px;
      padding: 0 20px;

      > mat-icon {
        flex-shrink: 0;
      }

      > span {
        padding: 5px 0;
      }
    }
  }
}
