:host {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 20px;

  .posts {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-bottom: 30px;

    &.centered {
      justify-content: center;
    }

    &.fetching {
      transition: filter 300ms ease-out 700ms;
      filter: brightness(0.5);
    }
  }

  mat-paginator {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto -20px -20px;
  }
}
