:host {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;

  .posts {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-bottom: 50px;
  }

  mat-paginator {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto -20px -20px;
  }
}
